html,
body {
    height: 100%;
    font-size: 1rem;
}
.gradient{
    background: rgb(255,247,132);
    background: linear-gradient(90deg, rgba(255,247,132,1) 0%, rgba(227,68,44,1) 100%);
}
.page-header {
    margin-top: 4rem;
    font-size:1.25rem;
    color:white;
    font-family: 'Roboto Condensed', sans-serif;
}